{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h2>{{ program.title }}, Saison {{ season.number }}, Episode {{ episode.number }}</h2>
<p>Titre de l'épisode : {{ episode.title }}</p>
<p>Résumé : {{ episode.synopsis }}</p>
<a href="{{ path('program_season_show', { programSlug: program.slug, seasonId: season.id }) }}">Retour</a>
{% endblock %}