{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
   <h1>{{ website }} index</h1>
   <h3><a href="{{ path('program_new') }}">Ajouter une série</a></h3>
   {% for program in programs %}
   <div>
      <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
      <p>{{ program.summary }}</p>
      <a href="{{ path("program_by_id", { slug: program.slug }) }}">Voir la fiche</a>
      <a href="{{ path("program_edit", { slug: program.slug }) }}">Modifier</a>
   </div>
   {% else %}
   <p>Aucune série trouvée.</p>
   {% endfor %}
{% endblock %}